@font-face {
    font-family: 'lato-bold-webfont';
    src: url('../font/lato-bold-webfont.eot'),
		url('../font/lato-bold-webfont.svg'),
		url('../font/lato-bold-webfont.ttf'),
		url('../font/lato-bold-webfont.woff');
}
@font-face {
    font-family: 'lato-regular-webfont';
    src: url('../font/lato-regular-webfont.woff'),
       	url('../font/lato-regular-webfont.eot'),
		url('../font/lato-regular-webfont.svg'),
		url('../font/lato-regular-webfont.ttf');
		
}
@font-face {
    font-family: 'magra-bold-webfont';
    src: url('../font/magra-bold-webfont.eot'),
		url('../font/magra-bold-webfont.svg'),
		url('../font/magra-bold-webfont.ttf'),
		url('../font/magra-bold-webfont.woff');
}
@font-face {
    font-family: 'quicksand-bold-webfont';
    src: url('../font/quicksand-bold-webfont.eot'),
		url('../font/quicksand-bold-webfont.svg'),
		url('../font/quicksand-bold-webfont.ttf'),
		url('../font/quicksand-bold-webfont.woff');
}
@font-face {
    font-family: 'roboto-regular-webfont';
    src: url('../font/roboto-regular-webfont.woff'),
    url('../font/roboto-regular-webfont.eot'),
		url('../font/roboto-regular-webfont.svg'),
		url('../font/roboto-regular-webfont.ttf');
}
@font-face {
    font-family: 'RammettoOne-Regular';
    src: url('../font/rammettoone-regular-webfont.woff2'),
         url('../font/rammettoone-regular-webfont.woff'),
         url('../font/rammettoone-regular-webfont.svg'),
         url('../font/RammettoOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;

}





html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}


body{
	font-family: tahoma; 
}
.bg-header{
	background-color: #eae7e8;
}
.freeeze {
	background: url("../image/Rectangle 2 copy.png") 100px 0 no-repeat;
	font:30px RammettoOne-Regular;
	color:#cb3362;
  }
.freeeze span{
	color: #c8c10d;
}
header{
	padding: 30px 0;
}
header ul{
	list-style: none;
	padding-left:0;
	text-transform: uppercase;
	text-align: center;
	font:15px lato-regular-webfont;
}
header ul a{
	text-decoration: none;
	color:#826f6f;
}
.Ellipse{
	position: relative;
	top: 507px;
	right: 30%;
}
.Ellipse_2 {
  border-radius: 50%;
  background-color: rgb(202, 13, 111);
  opacity: 0.8;
  position: absolute;
  left:13px;
  top:0;
  width: 143px;
  height: 143px;
  z-index: 4;
  color: white;
  font-size: 20px;
  text-align: center;
  font-family:quicksand-bold-webfont;
}
.Ellipse_2_copy {
  border-radius: 50%;
  background-color: rgb(200, 193, 13);
  position: absolute;
  left:0;
  top:7px;
  width: 143px;
  height: 143px;
  z-index: 3;
}
.bg-product{
	background-color: #eae7e8;
	
}
.product{
	height: 251px;
	padding: 0 10px;
	
}
.aside{
	padding: 30px;
}

main *{
	padding: 15px;
}
main h3, main p{
	color: #7a6666;
	font: lato-regular-webfont;
}
 
main h2{
	color:  #CB3362;
	font:20px lato-bold-webfont;
}
.bg-nav{
	background-color: #c8c10d;
	font-family: lato-regular-webfont;
	text-align: center;
}
.bg-nav a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	padding: 40px 10px;
	display: inline-block;
}
.bg-futer{
	background-color: #cb3362;
	color: white;
	font-family: roboto-regular-webfont;
	padding: 40px 0;
}
.bg-futer a{
	display: inline-block;
	color: white;
	font-size: 30px;
	
}





@media (min-width: 992px) and (max-width: 1199px){
	.Ellipse{
		top: 400px;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.Ellipse{
		top: 288px;
	}
}
@media (min-width: 576px) and (max-width: 767px){
	.Ellipse{
		top: 205px;
	}
	.Ellipse_2{
		height: 105px;
		width:105px;
	}
	.Ellipse_2_copy{
		height: 105px;
		width:105px;
	}
}

@media (max-width: 575px){
	.Ellipse{
			display: none;
		}
	header ul.nav{
		background: url("../image/menu.png") no-repeat;
		background-position: 100% 0;
		position: fixed;
		top:20px;
		right: 20px;
		height: 40px;
		width:40px;
		overflow: hidden;
		z-index: 999;
	}
	header ul li{
		margin: 5px 0;
	}
	header ul a {
		width: 120px;
		height: 40px;
		background: #b1f2e8;
		display: block;
		border: 1px solid #ddd;
		border-radius: 5px 25px; 
		
		padding-top: 5px;
	}
	ul.nav>li:first-child::before{
		content:'';
		display: inline-block;
		height: 40px;
	}
	ul.nav:hover{
		width: 140px;
		height: 315px;
	}	
}
@media (min-width: 576px){
	header ul.nav{
		display: flex;
		justify-content:space-around;
	}
	header ul.nav>li{
		height: 20px;
		overflow: hidden;
	}
	header ul.nav>li:hover{
		overflow: visible;
	}
}