.bg-about{
	background:#c8c10d;
}
.bg-about p{
	font-family: 'lato-regular-webfont';
	color: #fff;
	font-size: 30px;
	text-transform:uppercase;
	padding:20px 0;
	margin:0 auto;
}


.bg-pirotheno, main .left{
	background: #ebebed;
}	
@media (max-width: 991px){
	.bg-pirotheno img{
		display: none;
	}
	.bg-pirotheno .container {
		background: url("../image/FAN9001787.png") top / cover no-repeat;
		min-height: 200px;
	}
}
